.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 100px;
    height: 200px;
}

main {
    flex: 1;
    display: flex;
}

.left {
    flex: 1 500px;
    display: flex;
}

.right {
    flex: 0 1 300px;
}

footer {
    flex: 0 0 40px;
    height: 100px;
}

/* headerのデザイン */
header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    /*background-color: #337079;*/
    color: white;
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}
.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

a.navbar-brand {
    font-weight: 100;
    font-size: 30px;
}


/*メニューバーのデザイン*/
ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

ul li{
    display: table-cell;
    min-width: 50px;
}

ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #555;
    /*font-weight: bold;*/
}

ul li.current{
    background-color: #DEEBF7;
}